*{
    font-family:roboto, helvetica neue, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    overflow:  visible;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top:0px;
    background-color: white;
    height: 60px;
    box-shadow: 0px 3px 3px;
}
nav .google{
    display: flex;
}
nav .google b{
    font-size: 25px;
    margin-left: 10px;
    font-weight: lighter;
}
nav .google p{
    font-size: 30px;
    margin-right: 10px;
}
nav .email{
    display: flex;
    justify-content: space-between;
}
nav .email b{
    margin-top: 11px;
    font-size: small;
    font-family: sans-serif;
}
nav .email img{
    margin-left: 10px;
    border-radius: 50%;
}
.section1{
    height: 58vh;
    display: flex;
    border: 1px solid;  
    box-sizing: border-box;
}
.online{
    width: 50%;
    height: 85%;
    display: block;
    padding-left: 100px;
    padding-top: 70px; 
    padding-right:90px ;
    justify-content: space-between;
    font-family: sans-serif;

} 
.online b{
    font-size: large;
    font-weight: lighter;
    margin-top: 30px;
    position: relative;
    top: 30px;
}
.online h2{
    font-size: 41px;
    font-weight: lighter;
}
.img{
    width: 50%;
    height: 100%;
}
.img img{
    width: 100%;
    height: 100%;

}
.section2{
    background-color:  #2962FF;
    height: 1100px;
    padding-left: 100px;
}
.section2 .display-flex{
    width: 99%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

}
.section2 .display-flex .beginner{
    background-color: #ffff;
    height: 50%;
    width: 22%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.section2 .display-flex .beginner #img{
    height: 20%;
}
.section2 .display-flex .beginner h2{
    height: 20%;

}
.section2 .display-flex .beginner P::first-letter{
    font-size: 20px;
    font-weight: lighter;
}
.section2 .display-flex .beginner P{
    text-align: justify;
    font-weight: lighter;
    font-weight: 500;

}
.section2 #h2{
    font-weight: lighter;
    height:10% ;
    padding-top: 60px;
    color: white;
    font-size: xx-large;
}
.section2 .display-flex .beginner #arrow{
    margin-top: 6px;
    margin-left: 220px;
} 
.section2 .display-flex .beginner h2 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.section3{
    background-color: white;
    padding: 80px;
}
.instructors{
    display: flex; 
    font-weight: lighter;
    font-size: 15.7px;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px;
    background: #F2F2F2;


}
.instructors h2{
    height: 20%;
    margin: 40px 0px 0px 20px;
}
.instructors hr{
    margin-left: 10px;
}
.instructors p{
    text-align: justify;
    padding: 10px;
    line-height: 21px;
    margin: 0px 0px 0px 0px;
}
.youtube p{
    height: 100px;
    font-size: 1em;
    line-height: 21px;
    font-weight: lighter;
}
.youtube h2{
    height: 100px;
    padding-top: 40px;
    font-weight: lighter;
    font-size: 27px;
}
#optimise{
    width: 100%;
    height: 21vh;
    display: flex;
    padding-right: 70px;
}
#optimise .firebase{
    background: #F2F2F2;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
    margin: 10px;
    padding: 10px;
    width: 25%;
    height: 100%;
} 
.firebase a{
    margin-left:120px;
    height: 50%;
}
.firebase a, p{
    height: 50%;
   text-align: center;
   text-decoration: none;
   color:  #000;
    
}
footer{
    background-color: #F2F2F2;
    height: 40vh;
}
footer h2{
    margin: 0px 0px 0px 80px;
    font-weight: lighter;
    font-size: 20px;
    height: 20%;
    padding-top: 10px;
}
footer #footer {
    display: flex;
    justify-content: center;
    height: 40%;
}
footer #footer a{
    height: 100%;
    width: 20%;
    margin: 40px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer #footer a p{
    height: 60%;
    width: 100%;
}
.send #label:hover{
    background-color: #E8E8E8;
}
.send label select{
    border: none;
    outline: none;
}
.send a, label{
    text-decoration: none;
    margin: 20px;
    height: 30px;
}
.send{
    width:45%;
    display: flex;
    position: relative;
    left: 740px;
    justify-content: end;
}
.send label select option{
    width: 130px;
}


